body{
    background-color:blue;
    margin:0 auto;

    font-family: 'Raleway', sans-serif;
}
h1{
  text-align: center;
  margin:0 auto;
}

h2{
    text-align: center;
}
form{
    text-align: center;
}
.menu a{
  text-align: center;
  text-decoration: none;
  color: black;
  padding-left: 25px;
  font-family: 'Raleway', sans-serif;
}
.menu{
  background-color: white;
  width: 50%;
  height: 30px;
  color: red;
  margin:0 auto;

}
.shoe{
  height: 100px;
  width:  100px;

}
.container{
    display: flex;
    width:80%;
    margin:0 auto;
    background-color: White;

}
.containerFit{

  text-align: initial;
  background-color: white;
  width:20%;
  margin:0 auto;

}
.containerFit2{
  background-color: white;


  width:20%;
  margin:0 auto;
}
.container2{
    display: flex;
    width:80%;
    margin:0 auto;
    background-color: green;

}
.product{
    width:60%;
    margin:0 auto;
    background-color: White;

}
#container2{
    width:60%;
    margin:0 auto;
    margin-top:10%;
    background-color: green;
    border: 1px solid black;
}
