[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Utiliser PDO avec PHP | SUPINFO, École Supérieure d'Informatique
Type=Link
URL=https://www.supinfo.com/articles/single/6643-utiliser-pdo-avec-php
Icon=text-html
